---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
RemoveBracesLLVM: false
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
---
